<!DOCTYPE html>
<html>

<head>

</head>

<body ng-app="modB">

    <div ng-controller="controllerBind">
        <h1>Oneway Binding</h1>
        Roll: <input ng-model="student.roll">
        Name: <input ng-model="student.name">
        cgpa: <input ng-model="student.cgpa">
        <p>{{student.roll}}</p>
        <p>{{student.name}}</p>
        <p>{{student.cgpa}}</p>
    </div>

    <script src="angular.js"></script>
    <script>
        angular.module('modB', []).controller('controllerBind', function ($scope) {
            $scope.student={
                roll:101,
                name:'Pawan',
                cgpa:9.5
            }
        });
        
    </script>
</body>

</html>